<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

  <targets>
    <target name="logfile" xsi:type="File" 
            fileName="${basedir}/logs/kokororeader.log"
            archiveFileName="${basedir}/logs/archive/kokororeader.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${when:when=length('${exception}')>0:Inner=${exception:format=tostring}}" />
    <target name="errorfile" xsi:type="File" 
            fileName="${basedir}/logs/error.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${when:when=length('${exception}')>0:Inner=${exception:format=tostring:maxInnerExceptionLevel=10}}" />
    <target name="console" xsi:type="Console"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${when:when=length('${exception}')>0:Inner=${exception:format=tostring}}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile,console" />
    <logger name="*" minlevel="Error" writeTo="errorfile" />
  </rules>
</nlog> 